.btn{
    color: var(--blue);
    color: var(--color-grayish-blue);
    background-color: inherit;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}

.btn:hover{
    color: var(--blue);
}

@media (min-width: 900px){
    .btn{
        padding-left: 325px;
    }
}